* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_85 {
  width: 100%;
  height: 1024px;
  background: rgba(244,241,234,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_86 {
  width: 100%;
  height: 118px;
  background: rgba(214,208,196,1);
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 60px;
  overflow: hidden;
}
.v1_87 {
  width: 100%;
  height: 118px;
  background: rgba(214,208,196,1);
  opacity: 1;
  position: absolute;
  top: 322px;
  left: 60px;
  overflow: hidden;
}
.v1_88 {
  width: 254px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 363px;
  left: 326px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_89 {
  width: 100%;
  height: 118px;
  background: rgba(214,208,196,1);
  opacity: 1;
  position: absolute;
  top: 469px;
  left: 60px;
  overflow: hidden;
}
.v1_90 {
  width: 148px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 510px;
  left: 128px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_91 {
  width: 100%;
  height: 118px;
  background: rgba(214,208,196,1);
  opacity: 1;
  position: absolute;
  top: 616px;
  left: 60px;
  overflow: hidden;
}
.v1_93 {
  width: 100%;
  height: 126px;
  background: rgba(214,208,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_94 {
  width: 100%;
  height: 226px;
  background: url("../images/v1_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 35px;
  left: 185px;
  overflow: hidden;
}
.v1_95 {
  width: 275px;
  color: rgba(56,33,16,1);
  background-color:  rgba(214,208,196,1);
  position: absolute;
  top: 0px;
  left: 480px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_96 {
  width: 275px;
  color: rgba(56,33,16,1);
  background-color:  rgba(214,208,196,1);
  position: absolute;
  top: 0px;
  left: 730px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_198 {
  width: 275px;
  color: rgba(56,33,16,1);
  background-color:  rgba(214,208,196,1);
  position: absolute;
  top: 0px;
  left: 980px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_97 {
  width: 275px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 176px;
  left: 81px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_100 {
  width: 100%;
  height: 116px;
  background: rgba(56,33,16,1);
  opacity: 1;
  position: absolute;
  top: 908px;
  left: 19px;
  overflow: hidden;
}
.v1_101 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 953px;
  left: 670px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v1_102 {
  width: 660px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: -10px;
  left: 0px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v1_105 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 78px;
  overflow: hidden;
}
.v1_106 {
  width: 100px;
  height: 100px;
  background: url("../images/v1_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 78px;
  overflow: hidden;
}
.v1_108 {
  width: 128px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 519px;
  left: 332px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v1_109 {
  width: 148px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 366px;
  left: 125px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v1_110 {
  width: 100%;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 656px;
  left: 60px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
