* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v48_38 {
  width: 100%;
  height: 1024px;
  background: url("../images/v48_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_119 {
  width: 428px;
  height: 748px;
  background: rgba(214,208,196,1);
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 1002px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_120 {
  width: 100%;
  height: 126px;
  background: rgba(214,208,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
  overflow: hidden;
}
.v5_127 {
  width: 100%;
  height: 116px;
  background: rgba(56,33,16,1);
  opacity: 1;
  position: absolute;
  top: 908px;
  left: 0px;
  overflow: hidden;
}
.v5_128 {
  width: 100px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 953px;
  left: 689px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v5_129 {
  width: 660px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 28px;
  left: 79px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v6_154 {
  width: 248px;
  height: 220px;
  background: url("../images/v6_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 681px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_155 {
  width: 248px;
  height: 220px;
  background: url("../images/v6_155.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_150 {
  width: 248px;
  height: 220px;
  background: url("../images/v6_150.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 79px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_151 {
  width: 248px;
  height: 220px;
  background: url("../images/v6_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 681px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v6_153 {
  width: 248px;
  height: 220px;
  background: url("../images/v6_153.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_104 {
  width: 273px;
  height: 242px;
  background: url("../images/v1_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 1078px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v1_103 {
  width: 273px;
  height: 244px;
  background: url("../images/v1_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 555px;
  left: 1079px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v7_199 {
  width: 658px;
  height: 197px;
  background: url("../images/v7_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 805px;
  overflow: hidden;
}
.v7_200 {
  width: 275px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_201 {
  width: 275px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 0px;
  left: 199px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v8_216 {
  width: 275px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 142px;
  left: 275px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v7_202 {
  width: 275px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 0px;
  left: 383px;
  font-family: Lato;
  font-weight: Bold;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.v48_8 {
  width: 248px;
  height: 285px;
  background: url("../images/v48_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 143px;
  left: 79px;
  overflow: hidden;
}
.v48_6 {
  width: 248px;
  height: 220px;
  background: url("../images/v48_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_131 {
  width: 248px;
  height: 220px;
  background: url("../images/v5_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_7 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 231px;
  left: 0px;
  overflow: hidden;
}
.v48_5 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_4 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_2 {
  width: 248px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_3 {
  width: 193px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 248px;
  left: 28px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v48_14 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 681px;
  overflow: hidden;
}
.v48_15 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_16 {
  width: 248px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_18 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 380px;
  overflow: hidden;
}
.v48_19 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v48_20 {
  width: 248px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_24 {
  width: 248px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 79px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_28 {
  width: 248px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 681px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_31 {
  width: 248px;
  height: 54px;
  background: url("../images/v48_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 380px;
  overflow: hidden;
}
.v48_32 {
  width: 248px;
  height: 54px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v48_37 {
  width: 145px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 391px;
  left: 432px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v48_33 {
  width: 178px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 391px;
  left: 716px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v48_36 {
  width: 83px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 762px;
  left: 764px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v48_35 {
  width: 72px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 762px;
  left: 468px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v48_34 {
  width: 88px;
  color: rgba(56,33,16,1);
  position: absolute;
  top: 762px;
  left: 159px;
  font-family: Dosis;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
